<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.jcmo.main">
    <uses-feature android:name="android.hardware.camera2"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".EditPerfilActivity"></activity>
        <activity
                android:name=".AddanimActivity"
                android:label="@string/title_activity_addanimal" />
        <activity
                android:name=".PerfilActivity"
                android:label="@string/title_activity_Perfil"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".AddtraActivity"
                android:label="@string/title_activity_addtrabajador" />
        <activity
                android:name=".ContactarActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
                android:name=".TrabajadoresActivity"
                android:label="@string/title_activity_trabajadores"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".RegistroActivity"
                android:label="@string/Register" />
        <activity
                android:name=".SplashActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>